* {
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

img {
    vertical-align: middle;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #f2f2f2;
}

/* main css start */

/* header css start */
#header {
    padding: 10px;
    background: #4949ff;

    width: 100%;
    z-index: 1000;
}

.header_main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {}

.header_logo h2 {
    font-size: 25px;
    color: aliceblue;
}

.header_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search_bar {
    padding-right: 20px;
}

.search_bar input {
    width: 300px;
    padding: 10px;
    border-radius: 30px;
    outline: none;
    border: none;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.profile_pic {}

.profile_pic img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.body_left{
    position: absolute;
    width: 400px;
    overflow: hidden;
}



/* left body section start */
.left_item {
    width: 100%;
    position: fixed;
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 50px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #aaa;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
    width: 10px;
    border-radius: 10px;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.left_item ul li {
    padding: 10px 0;
}

.left_item ul li a {
    font-size: 16px;
    color: #444;
    font-weight: 500;
}

.see_more {
    padding-top: 5px;
}

.shortcuts h3 {
    font-size: 17px;
    font-weight: 700;
    padding: 10px 0;
    color: #444;
}


.shortcut_item {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.shortcut_img {
    padding-right: 10px;
}

.shortcut_img img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.shortcut_text p {
    font-size: 15px;
    font-weight: 400;
    color: #444;
    padding-right: 10px;
}


/* day section css start */

.my_day_main{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
}

/* .create_story{
    padding-left: 10px;
} */

.story_img{
    position: relative;
    width:100px;
    height: 150px;
}

.story_img img{
    width:100px;
    height: 150px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.story_profile{
    position: absolute;
    top:-91px;
    left:10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid #246ad2;
}

 
.story_profile img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.story_overlay{
    position: absolute;
    content: '';
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.story_profile_name{
    position: absolute;
    bottom: 5px;
    text-align: center;
    left:50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.story_profile_name p{
    color:white;
    font-size: 15px;
}

.overlay_text{
    width: 100%;
    position: absolute;
    text-align: center;
    top:70%;
    left:50%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
}

.plus_icon{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid white;
    background: #246ad2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.plus_icon h1{
    font-size: 22px;
    color: white;
     
}

.overlay_text p{
    padding-top: 5px;
    width: 100%;
    font-size: 14px;
    color: #fff;
    text-align: center;
}
/*  middle section start(here we create a post section)  */
.middle_post_main {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
}

.user_profile_post_main {
    background: #fff;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user_profile {
    display: flex;
    align-items: center;
}

.post_mind {
    padding-top: 10px;
}

.post_mind input {
    width: 100%;
    padding: 10px;
    border-radius: 35px;
    border: 1px solid #f2f2f2;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}

.under_line {
    width: 100%;
    background: #ddd;
    height: 2px;
    margin-top: 10px;
}

.other_post {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
}

.other_post h3 {
    font-size: 15px;
}

.post_img_main {
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.post_profile {
    padding-right: 10px;
}

.post_profile img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.post_name h3 {
    font-size: 16px;
}

.post_name p {
    font-size: 13px;
}

.post_details {
    padding-top: 10px;
}

.post_details p {
    font-size: 14px;
}

.post_img {
    padding-top: 10px;
}

.post_img img {
    width: 100%;
    cursor: pointer;
}

/* right body style start */
 .right_body{
 
 }
.right_item_main {
    width: 100%;
    position: fixed;
    height: 100vh;
    overflow: hidden;
    /* overflow-y: scroll; */
    margin-top: 10px;
    background: #fff;
    padding: 10px;
  
    
     
}

.right_item_header {
    display: flex;
    justify-content: space-between;
}

.right_item_header h3 {
    font-size: 16px;
    font-weight: 700;
}

.right_item_header a {
    font-size: 15px;

}

.right_sedule {
    display: flex;
    margin-bottom: 10px;

}

.sedule_date {
    padding-right: 10px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.date {
    width: 50px;
    background: #f9f9f9;
    text-align: center;
    padding: 4px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
}

.date h3 {
    font-size: 17px;
}

.week {
    width: 50px;
    background: #246ad2;
    text-align: center;
    padding: 4px;
    border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px;
    -ms-border-radius: 0 0 10px 10px;
    -o-border-radius: 0 0 10px 10px;
}

.week p {
    font-size: 13px;
    color: white;
}

.sedule_details h3 {
    font-size: 16px;
    font-weight: 700;
    color: #444;
}

.sedule_details p {
    font-size: 14px;
    font-weight: 400;
    color: #444;

}

.sedule_details a {
    font-size: 14px;
    font-weight: 400;


}

/* conversation part */

.conversation_main {
    margin-top: 15px;
}

.conversation_item{
    display: flex;
    align-items: center;
    padding:10px 0;
}

.con_img {
    padding-right: 10px;
}

.con_img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.con_name p {
    font-size: 16px;
    color:#444;
    font-weight: 400;
}